<div class="popup-overlay" (click)="closePopup()"></div>
<div class="popup-container">
  <div class="popup-header">
    <h2>New Guess</h2>
    <div class="close" (click)="closePopup()">X</div>
  </div>
  <form [formGroup]="guessForm">
    <app-color-picker
      id="color-picker"
      [word]="guessForm.value.word!"
      (colorString)="setColors($event)"
    />
    <input #textInput formControlName="word" placeholder="Enter word" />
    <button type="submit" (click)="submitGuess()" [disabled]="!guessForm.valid">
      Submit
    </button>
  </form>
</div>
