<div class="list-page-header">
  <div>
    <h3>Potential Guesses</h3>
    <p>
      Found {{ list.length }} words from {{ list[0].toUpperCase() }} to
      {{ list.at(-1)!.toUpperCase() }}
    </p>
  </div>

  <label class="show-answers">
    <input class="answers-checkbox" type="checkbox" [(ngModel)]="showAnswers" />
    Hide<br />nonsense
  </label>
</div>

<div class="word-list">
  @for(word of list.slice(0,200); track word){
  <div class="word">
    @for(letter of word; track $index){
    <div class="letter">{{ letter }}</div>
    }
  </div>
  } @empty {
  <p>No words found</p>
  }
</div>
