.list-page-header {
  display: flex;
  justify-content: space-between;
  margin: 1em;
  h3 {
    margin: 0;
  }
}

.show-answers {
  align-self: center;
}

.answers-checkbox {
  appearance: none;
  margin: 0;
  width: 1em;
  height: 1em;
  border: 2px solid #6aaa64;
  border-radius: 3px;
}

.answers-checkbox:checked {
  background-color: #6aaa64;
}

.word-list {
  display: grid;
  gap: 8px;
  justify-content: center;
  margin-bottom: 5%;
}

.word {
  display: flex;
  gap: 5px;
  padding: 3px;
  border: #3a3a3c 1px solid;
}

.letter {
  text-align: center;
  align-content: center;
  width: 2em;
  height: 2em;
  font-size: 30px;
  text-transform: uppercase;
  background-color: #3a3a3c;
}
