.guess-row {
  display: flex;
  gap: 5px;
}

.guess-tile {
  background-color: #3a3a3c;
  width: 15vw;
  height: 15vw;
  line-height: 15vw;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
}
