@if (showPopup) {
<app-guess-input-popup
  (close)="closePopup()"
  (guess)="submitGuess($event)"
  [presetGuess]="presetGuess"
  [guessNumber]="guessNumber"
/>
}

<div class="helpful-container">
  <h3>Common letters:</h3>
  <div class="letter-list">
    @for(letter of letters; track letter){
    <div class="letter">{{ letter }}</div>
    }@empty {
    <p>No letters found</p>
    }
  </div>
  <h3>Words with those letters:</h3>
  <div class="word-list">
    @for(word of words; track word){
    <div
      class="word"
      (click)="pickGuess(word)"
      (keyup.enter)="pickGuess(word)"
      tabindex="0"
    >
      @for(letter of word; track letter){
      <div class="letter">{{ letter }}</div>
      }
    </div>
    } @empty {
    <p>No words found</p>
    }
  </div>
</div>
