<app-header />

<div class="page">
  <div class="main above">
    <app-guess-board [guesses]="guesses" />

    @if(guesses.length < 6 && !foundAnswer){
    <app-guess-input-button (newGuess)="addGuess($event)" />
    } @else {
    <div class="game-over">
      <button class="reset" (click)="resetGame()">Reset Game</button>
    </div>
    }
  </div>

  <div class="main below">
    <div class="tab-container">
      <button
        [class]="activeTab === 'all' ? 'tab active' : 'tab'"
        (click)="activeTab = 'all'"
      >
        All Words
      </button>
      <button
        [class]="activeTab === 'help' ? 'tab active' : 'tab'"
        (click)="activeTab = 'help'"
      >
        Helpful Guesses
      </button>
    </div>

    @if(activeTab === 'all'){
    <app-list
      [possibleGuesses]="wordList.possibleGuesses"
      [possibleAnswers]="wordList.possibleAnswers"
      (newGuess)="addGuess($event)"
    />
    } @else {
    <app-helpful
      [letters]="wordList.helpfulLetters"
      [words]="wordList.helpfulWords"
      (newGuess)="addGuess($event)"
    />
    }
  </div>
</div>
