.page {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main {
  display: grid;
}

.reset {
  width: fit-content;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  background-color: #58a351;
  border-radius: 20px;
  font-size: 1em;
  line-height: 2em;
  color: white;
}

.game-over {
  width: 100%;
  display: flex;
  justify-content: center;
}

.above {
  min-height: 30vh;
  align-content: center;
}

.below {
  margin-top: 10%;
}

.tab {
  width: 50%;
  font-size: 1em;
  line-height: 1.7em;
  border: none;
  background-color: black;
  color: gray;
  cursor: pointer;
}
.active {
  background-color: #121213;
  color: white;
  cursor: default;
  border-top: #3a3a3c 2px solid;
  border-left: #3a3a3c 1px solid;
  border-right: #3a3a3c 1px solid;
}

@media (min-width: 768px) {
  .page {
    flex-direction: row;
    align-items: start;
    justify-content: center;
  }
  .above {
    height: 100vh;
  }
  .below {
    margin-top: 0px;
  }
}
