.guess-row {
  display: flex;
  gap: 5px;
}

.guess-tile {
  background-color: #3a3a3c;
  width: 2.2em;
  height: 2.2em;
  line-height: 2.2em;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
}
