<mat-icon class="trigger" (click)="openPopup()" fontIcon="help" />
@if(showInstructions){
<div class="popup-overlay" (click)="closePopup()"></div>
<div class="popup-container">
  <div class="popup-header">
    <h2>How to use</h2>
    <div class="close" (click)="closePopup()" style="cursor: pointer">X</div>
  </div>
  <ol class="content">
    <li>Tap "Add guess", or a word in one of the word lists</li>
    <li>Enter the guess you used in your Wordle game</li>
    <li>Tap on the letters to adjust their color and match your result</li>
    <li>Tap "Submit"</li>
    <li>Repeat for each guess</li>
  </ol>
  <ul class="content">
    <li>"All Words" shows all guessable words that fit your results.</li>
    <li>
      Check the "Hide nonsense" box to show only legitimate Wordle answers.
    </li>
    <li>
      "Helpful Guesses" shows the five most common letters in the potential
      answers, along with the words that contain them.
    </li>
  </ul>
</div>

}
