.page-header {
  background-color: #121213;
  border-bottom: 2px solid #3a3a3c;
  height: 5vh;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0.5em;
  font-size: 24px;
}

.left-side {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

.back {
  cursor: pointer;
}
