/* You can add global styles to this file, and also import other style files */

body {
  background-color: #121213;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}

.main {
  justify-self: center;
}
