.reset {
  width: fit-content;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  background-color: #58a351;
  border-radius: 20px;
  font-size: 1em;
  line-height: 2em;
  color: white;
}

.game-over {
  width: 100%;
  display: flex;
  justify-content: center;
}

.below {
  margin-top: 10%;
  border-top: white 1px solid;
}

.tab {
  width: 50%;
  font-size: 1em;
  line-height: 1.7em;
  border: none;
  background-color: black;
  color: gray;
  cursor: pointer;
}
.active {
  background-color: #121213;
  color: white;
  cursor: default;
}
