.trigger {
  display: block;
  cursor: pointer;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.popup-container {
  justify-content: center;
  position: fixed;
  width: 80vw;
  max-width: 600px;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid gray;
  background-color: #121213;
  padding: 20px;
  padding-bottom: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.popup-header {
  display: flex;
  justify-content: space-between;
}

h2 {
  font-size: 24px;
  margin-top: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}

.table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

a {
  position: absolute;
  bottom: 0;
  left: 0;
  color: rgb(83, 83, 83);
  margin: 8px;
}

.logout {
  width: fit-content;
  padding: 0 20px;
  height: 100%;
  border-radius: 20px;
  border: 0;
  font-size: 1em;
  line-height: 2em;
}

.version {
  position: absolute;
  bottom: 0;
  right: 0;
  color: rgb(83, 83, 83);
  font-style: italic;
  margin: 8px;
}
