<mat-icon class="trigger" (click)="openPopup()" fontIcon="settings" />
@if(show){
<div
  class="popup-overlay"
  (click)="closePopup()"
  (keyup)="closePopup()"
  tabindex="0"
></div>
<div class="popup-container">
  <div class="popup-header">
    <h2>Settings</h2>
    <div
      class="close"
      (click)="closePopup()"
      style="cursor: pointer"
      (keyup)="closePopup()"
      tabindex="0"
    >
      X
    </div>
  </div>
  <div class="content">
    <a href="https://parkershumard.com" target="_blank">Parker Shumard</a>
    <p class="version">v{{ version }}</p>

    <div id="settings">
      <div class="setting">
        <label>Show only answers by default</label>
        <input type="checkbox" [(ngModel)]="settings.showOnlyAnswers" />
      </div>
      <div class="setting">
        <label>Number of stats shown</label>
        <input type="number" [(ngModel)]="settings.statResultCount" />
      </div>
    </div>

    <button class="logout" [disabled]="!canLogout" (click)="logout()">
      Logout
    </button>
  </div>
</div>

}
